:root {
  --dark: #0b0b0b;
  --mid: #1a1a1a;
  --light: #cfcfcf;
  --white: #ffffff;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--dark);
  color: var(--white);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: rgba(0,0,0,0.85);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar a {
  color: var(--light);
  margin-left: 20px;
  text-decoration: none;
  font-size: 0.9rem;
}

.logo {
  font-weight: 700;
}

/* HERO WITH HUGE BACKGROUND LOGO*/
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 40px 20px;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("lmf-logo.png");

  background-repeat: no-repeat;
  background-position:  center center;
  background-size: 220%;
}

/* ICON SERVICES */
.icon-services {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background: var(--mid);
}

.icon-box {
  text-align: center;
  font-size: 1.1rem;
}

.icon-box h3 {
  margin-top: 10px;
  font-size: 0.9rem;
}

/* SPLIT SECTION */
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 70px;
  gap: 50px;
}

.split h2 {
  margin-bottom: 15px;
}

.split p,
.split ul {
  color: var(--light);
}

.split ul li {
  margin-bottom: 10px;
}

/* CONTACT */
.contact {
  background: var(--mid);
  padding: 60px 20px;
  text-align: center;
}

.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
}

.contact button {
  padding: 12px;
  background: none;
  border: 1px solid var(--light);
  color: var(--white);
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--light);
}
